h2 {
    color: yellow;
}

.film {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightgray;
    color: whitesmoke;
    border: 0.1em solid black;
}

.planetContainer {
    width: 50%;
    color: green;
}

.starshipContainer {
    width: 50%;
    color: blueviolet;
}